$background-color: #000000;
$text-color: white;


$h4-weight: 400;
$h4-size: 14px;
$h4-lineheight: 20px;
$h4-letterspacing: 2px;
$h4-align: center;
$h4-transform: uppercase;
$h4-color: #C0C0C0;


$h4l-weight: 400;
$h4l-size: 14px;
$h4l-lineheight: 20px;
$h4l-letterspacing: 2px;
$h4l-align: center;
$h4l-transform: uppercase;
$h4l-color: #ffff;


$h1-weight: 400;
$h1-size: 54px;
$h1-lineheight: 59px;
$h1-letterspacing: 0px;
$h1-align: center;
$h1-color: #ffff;


$h2-weight: 400;
$h2-size: 40px;
$h2-lineheight: 42px;
$h2-letterspacing: 0px;
$h2-transform: none;
$h2-align: center;
$h2-color: #ffff;


$h3-weight: 400;
$h3-size: 28px;
$h3-lineheight: 32px;
$h3-letterspacing: 0px;
$h3-transform: none;
$h3-align: center;
$h3-color: #FFFFFF;


$text-weight: 400;
$text-size: 14px;
$text-lineheight: 20px;
$text-align: center;
$text-color: #C0C0C0;


$button-width: 155px;
$button-height: 42px;
$button-borderradius: 14px;
$button-color: #FFFFFF;
$button-txtcolor: #000000;


$btntxt-weight: 400;
$btntxt-size: 16px;
$btntxt-lineheight: 20px;
$btntxt-letterspacing: 0.4px;
$btntxt-transform: none;
$btntxt-align: none;
$btntxt-color: #000000;


$btnmore-width: 146px;
$btnmore-height: 42px;
$btnmore-radius: 14px;
$btnmore-backgroundcolor: #FFFFFF;


$btncontact-width: 152px;
$btncontact-height: 42px;
$btncontact-radius: 14px;
$btncontact-backgroundcolor: #FFFFFF;
