@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100&display=swap);
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #C0C0C0;
}

.header {
  background-color: black;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  flex-wrap: wrap;
}
.header .header__wrapper .nav .primary__button {
  width: 155px;
  height: 42px;
  border-radius: 14px;
  margin-right: 140px;
}
.header .header__wrapper .nav .nav__link {
  text-decoration: none;
  color: white;
  margin: 16px;
}

.logo__content {
  margin-left: 140px;
}

.subhead {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #C0C0C0;
}

.subhead__lighten {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.title {
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: white;
}

.title_2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: none;
  color: white;
}

.title_3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
}

.text__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
}

.primary__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: none;
  text-transform: none;
  color: #000000;
}

.button__more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: none;
  text-transform: none;
  color: #000000;
  width: 146px;
  height: 42px;
  border-radius: 14px;
  background-color: #FFFFFF;
}

.button__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: none;
  text-transform: none;
  color: #000000;
  width: 152px;
  height: 42px;
  border-radius: 14px;
  background-color: #FFFFFF;
}

.homepage {
  width: 100%;
  height: 800px;
  background-image: url(Homepage.png);
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.homepage__content {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 480px;
}

.homepage__text__content {
  max-width: 100%;
  min-width: 580px;
  width: 580px;
  line-height: 20px;
}

.block_1 {
  margin-bottom: 100px;
}

.block_1__title {
  margin-bottom: 34px;
}

.block_1__title_2 {
  margin-bottom: 16px;
}

.block_1__contentwrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.block_1__content {
  width: 576px;
  height: 600px;
  display: flex;
  align-items: flex-end;
  margin: 8px 8px;
}

.block_1__content_1 {
  background-image: url(block1_1.png);
}

.block_1__content_2 {
  background-image: url(block1_2.png);
}

.block_1__content_3 {
  background-image: url(block1_3.png);
}

.block_1__content_4 {
  background-image: url(block1_4.png);
}

.block_1__content__text {
  margin: 0px 45px 30px 30px;
}

.block_1__subhead {
  text-align: left;
  margin-bottom: 8px;
}

.block_1__textcontent {
  text-align: left;
  min-width: none;
  width: 501px;
  height: 80px;
}

.block_2 {
  width: 100%;
  height: 600px;
  background-image: url(block_2_1.png);
  background-size: cover;
}

.block_2__contentwrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block_2__content {
  margin-right: 62px;
}

.block_2__subhead {
  width: 206px;
  text-align: left;
}

.block_2__textcontent {
  width: 298px;
  text-align: left;
}

.block_3 {
  background-image: url(block1_1.png);
  background-size: 740px 540px;
  background-repeat: no-repeat;
  background-position: right;
}

.block_3__contentwrapper {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block_3__subhead, .block_3__title_3, .block_3__textcontent {
  text-align: left;
}

.block_3__content {
  margin-left: 100px;
}

.block_3__subhead {
  margin-bottom: 8px;
}

.block_3__title_3 {
  margin-bottom: 16px;
}

.block_3__textcontent {
  width: 514px;
  margin-bottom: 16px;
}

.block_4 {
  width: 100%;
  height: 600px;
  background-image: url(block_2_1.png);
  background-size: cover;
  margin-bottom: 113px;
}

.block_4__contentwrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block_4__content {
  margin-right: 62px;
}

.block_4__subhead {
  width: 206px;
  text-align: left;
}

.block_4__textcontent {
  width: 298px;
  text-align: left;
}

.block_5 {
  width: 100%;
  height: 500px;
}

.block_5__contentwrapper {
  display: flex;
  justify-content: center;
}

.block_5__title_2 {
  margin-bottom: 16px;
}

.block_5__title_3 {
  margin-bottom: 100px;
  color: #c0c0c0;
}

.block_5__company__wrapper {
  width: 1168px;
  height: 158px;
  display: flex;
  justify-content: space-between;
}

.block_5__company_1 {
  width: 128px;
  height: 30px;
  background-image: url(companylogo_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block_5__company_2 {
  width: 128px;
  height: 78px;
  background-image: url(companylogo_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block_5__company_3 {
  width: 128px;
  height: 20px;
  background-image: url(companylogo_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block_5__company_4 {
  width: 128px;
  height: 36px;
  background-image: url(companylogo_4.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block_5__company_5 {
  width: 128px;
  height: 32px;
  background-image: url(companylogo_5.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block_6 {
  width: 100%;
  height: 600px;
  background-image: url(block_2_1.png);
  background-size: cover;
  margin-bottom: 113px;
}

.block_6__contentwrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block_6__content {
  margin-right: 62px;
}

.block_6__subhead {
  width: 254px;
  text-align: left;
}

.block_6__textcontent {
  width: 298px;
  text-align: left;
}

.block_7 {
  width: 100%;
  height: 414px;
}

.block_7__contentwrapper {
  width: 100%;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block_7__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block_7__title_2 {
  width: 571px;
  margin-bottom: 16px;
}

.block_7__title_3 {
  color: #c0c0c0;
  margin-bottom: 24px;
}

.footer {
  width: 100%;
  height: 652px;
}

.footer__logo {
  background-image: url(logo.svg);
  background-size: 128px 31px;
}/*# sourceMappingURL=ApertureStudios.css.map */