@import './reset';
@import './variables';

@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100&display=swap);


body {
    font-family: 'Poppins', sans-serif;
    background-color: $background-color;
    color: $text-color;
}

.header{
    background-color: black;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        flex-wrap: wrap;
    
    .nav{
        .primary__button{
            width: $button-width;
            height: $button-height;
            border-radius: $button-borderradius;
            margin-right: 140px;
            opacity: 0.95;
        }
        .primary__button:hover{
            cursor: pointer;
            opacity: 1;
        }
        &__link{
            text-decoration: none;
            color: white;
            margin: 16px;
        }
        &__link:hover{
            text-shadow: 2px 2px 17px #CEC2C2;
        }

    }
 }
}

.logo__content{
    margin-left: 140px;
 }

.subhead{
    font-weight: $h4-weight;
    font-size: $h4-size;
    line-height: $h4-lineheight;
    letter-spacing: $h4-letterspacing;
    text-align: $h4-align;
    text-transform: $h4-transform;
    color: $h4-color;
}

.subhead__lighten{
    font-weight: $h4l-weight;
    font-size: $h4l-size;
    line-height: $h4l-lineheight;
    letter-spacing: $h4l-letterspacing;
    text-align: $h4l-align;
    text-transform: $h4l-transform;
    color: $h4l-color;
}

.title{
    font-weight: $h1-weight;
    font-size: $h1-size;
    line-height: $h1-lineheight;
    text-align: $h1-align;
    color: $h1-color;
}

.title_2{
    font-weight: $h2-weight;
    font-size: $h2-size;
    line-height: $h2-lineheight;
    letter-spacing: $h2-letterspacing;
    text-align: $h2-align;
    text-transform: $h2-transform;
    color: $h2-color;
}

.title_3{
    font-weight: $h3-weight;
    font-size: $h3-size;
    line-height: $h3-lineheight;
    letter-spacing: $h3-letterspacing;
    text-align: $h3-align;
    text-transform: $h3-transform;
    color: $h3-color;
}

.text__content{
    font-weight: $text-weight;
    font-size: $text-size;
    line-height: $text-lineheight;
    text-align: $text-align;
    color: $text-color;
}

.primary__button{
    font-weight: $btntxt-weight;
    font-size: $btntxt-size;
    line-height: $btntxt-lineheight;
    letter-spacing: $btntxt-letterspacing;
    text-align: $btntxt-align;
    text-transform: $btntxt-transform;
    color: $btntxt-color;
}

.button__more{
    font-weight: $btntxt-weight;
    font-size: $btntxt-size;
    line-height: $btntxt-lineheight;
    letter-spacing: $btntxt-letterspacing;
    text-align: $btntxt-align;
    text-transform: $btntxt-transform;
    color: $btntxt-color;
    
    width: $btnmore-width;
    height: $btnmore-height;
    border-radius: $btnmore-radius;
    background-color: $btnmore-backgroundcolor;
    opacity: 0.95;
}

.button__more:hover{
    cursor: pointer;
    opacity: 1;
}

.button__contact{
        font-weight: $btntxt-weight;
        font-size: $btntxt-size;
        line-height: $btntxt-lineheight;
        letter-spacing: $btntxt-letterspacing;
        text-align: $btntxt-align;
        text-transform: $btntxt-transform;
        color: $btntxt-color;
        
        width: $btncontact-width;
        height: $btncontact-height;
        border-radius: $btncontact-radius;
        background-color: $btncontact-backgroundcolor;
        opacity: 0.95;
}

.button__contact:hover{
    cursor: pointer;
    opacity: 1;
}

.homepage{
    width: 100%;
    height: 800px;
    background-image: url(../PNGs/Homepage.png);
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;



&__content{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 480px;

    &__title{
        margin-bottom: 16px;
    }

    &__text{
        max-width: 100%;
        min-width: 580px;
        width: 580px;
        line-height: 20px;
    }
}



&__stats{
    width: 300px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    right: 40px;
    bottom: 40px;

    &__contentwrapper{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        flex-wrap: wrap;
    }
}
}

.services{

    margin-top: 100px;

&__title{
    margin-bottom: 34px;
}

&__title_2{
    margin-bottom: 16px;
}

&__contentwrapper{
    display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
  }


  &__content{
    width: 576px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    margin: 8px 8px;
   
    &__text{
        margin: 0px 45px 30px 30px;
        }

    &--gadgets{
            background-image: url(../PNGs/gadgets.png);
        }
        
    &--triangle{
            background-image: url(../PNGs/triangle.png);
        }
        
    &--forest{
            background-image: url(../PNGs/forest.png);
        }
        
    &--deer{
            background-image: url(../PNGs/deer.png);
        }
    
}
&__subhead{
    text-align: left;
    margin-bottom: 8px;
}

&__textcontent{
    text-align: left;
    min-width: none;
    width: 501px;
    height: 80px;
}
}

.expletive{
    width: 100%;
    height: 600px;

    &__contentwrapper{
        width: 100%;    
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        background-size: cover;
        position: relative;
    
        &--mountain{
            background-image: url(../PNGs/mountain.png);
            }
        
        &--leaves{
            background-image: url(../PNGs/leaves.png);
        }
    
        &--starfall{
            background-image: url(../PNGs/starfall.png);
        }

        &__stats{
            width: 300px;
            height: 16px;
            position: absolute;
            bottom: 40px;
            right: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            
            &--mountain{
                width: 257px;
            }
            &--cameras{
                width: 280px;
            }
            &--leafs{
                width: 325px;
            }
            &--starfall{
                width: 250px;
            }
        }
    }

    &__content{
        margin-right: 62px;
    }

    &__subhead{
        width: 206px;
        text-align: left;
    }

    &__textcontent{
        width: 298px;
        text-align: left;
    }

    
}


.tools{

    display: flex;
    justify-content: space-between;
    position: relative;

    &__left{
        width: 50vw;
        height: 540px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__right{
        display: flex;
        &__cameras{
            background-image: url(../PNGs/cameras.png);
            background-size: cover;
            width: 50vw;
        }

    }


    &__subhead, &__title_3, &__textcontent {
        text-align: left;
    }

    &__content{
        margin-left: 100px;
    }

    &__subhead{
        margin-bottom: 8px;
    }

    &__title_3{
        margin-bottom: 16px;
    }

    
&__textcontent{
    width: 514px;
    margin-bottom: 16px;
}


}


.clients{
    width: 100%;
    height: 500px;
    margin-top: 100px;

    &__contentwrapper{
        display: flex;
        justify-content: center;
    }
    
    &__title_2{
        margin-bottom: 16px;
        }

    &__title_3{
        margin-bottom: 100px;
        color: #c0c0c0;
        }

        &__companies{
            width: 1168px;
            height: 158px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--hithayes{
                width: 128px;
                height: 30px;
                background-image: url(../SVGs/hillhayes.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            &--riksgransen{
                width: 128px;
                height: 78px;
                background-image: url(../SVGs/riksgransen.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            &--studiocai{
                width: 128px;
                height: 20px;
                background-image: url(../SVGs/studiocai.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            &--chillindustries{
                width: 128px;
                height: 36px;
                background-image: url(../SVGs/chillindustries.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            &--stockholm{
                width: 128px;
                height: 32px;
                background-image: url(../SVGs/stockholm.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

        }
}


.contact{
    width: 100%;
    height: 414px;
    margin-top: 100px;

    &__contentwrapper{
    width: 100%;
    height: 414px;
    display: flex;

    justify-content: center;
    align-items: flex-start;
}

    &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    &__title_2{
    width: 571px;
    margin-bottom: 16px;
}

    &__title_3{
    color: #c0c0c0;
    margin-bottom: 24px;
}

}


.footer{
    width: 100%;
    height: 652px;

    &__top{
        display: flex;
        justify-content: space-between;
        margin: 0px 238px 36px 136px;

            &__logo{
        background-image: url(../SVGs/logo.svg);
        background-size: 128px 31px;
        background-repeat: no-repeat;
        height: 31px;
        padding: 50px 0;
    }

        &__links{
            display: flex;
            gap: 55px;
        }
    
        &__subhead{
            text-align: left;
        }
    
        &__textcontent{
            color: white;
            text-align: left;
            font-size: 13px;
            padding: 5px 0;
        }
    }



    &__middle__contentwrapper{
        width: 100%;
        position: relative;
            &::before{
            content: "";
            display: block;
            margin: 0 auto;
            position: relative;
            
            color: #fff;
            width: 85vw;
            border: 2px solid #fff;
            margin-bottom: 36px;
        }

        &::after{
            content: "";
            display: block;
            margin: 0 auto;
            position: relative;
            color: #fff;
            width: 85vw;
            border: 2px solid #fff;
            margin-top: 36px;
        }
        }

    &__middle{
        display: flex;
        justify-content: space-between;
        margin: 0 136px;
        
        &__label{
            text-align: left;
        }
    
        &__subhead{
            text-align: left;
            color: #fff;
            padding: 10px 0px;
        }
    
        &__textcontent{ 
            padding: 10px 0px 0px 0px;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
        }
    
        &__subscribe{
            display:flex;
            flex-direction:row;
            width: 458px;
            height: 52px;
            border-radius: 12px;
            padding:1px;
            position: relative;

        &__subscribe:focus-within{
            outline: 1px solid blue
        }
             
                 
            
            &__input{
                flex-grow: 2;
                border: none;
                border-radius: 12px;
            }
            &__input:focus {
                outline: none;
            }
            &__button{
                width: 63px;
                height: 30px;
                background-color: black;
                border-radius: 11px;
                position: absolute;
                right: 6px;
                top: 11px;
                bottom: 11px;
                color: white;
            }
            &__button:hover{
                cursor: pointer;
                opacity: 0.9;
            }
        }
    }

 

    &__bottom{
        display: flex;
        justify-content: space-between;
        margin: 56px 136px;

        &__socials{
            background-image: url(../PNGs/Socials.png);
            width: 112px;
            height: 24px;
            background-size: contain;
        }

        &__socials:hover{
            cursor: pointer;
            
        }

        &__textcontent{
            font-size: 14px;
            color: #C0C0C0;
        }
    }

    }

    



